@import "tailwindcss";

body {
    font-family: "Jua" !important;
}

.stroke {
    -webkit-text-stroke: 0.07vw #533705;
}

.board {
    z-index: 99;
}

#Lesson {
    img {
        width: 900px;
    }
}

.teacher-img1 {
    bottom: 0px;
    right: -4vw;
    z-index: 100;
    width: 20vw;
    aspect-ratio: unset !important;
}
.t-slide span {
    padding-inline: 0.5vw;
    img {
        max-width: 2vw !important;
    }
}

.slide {
    gap: 15px;

    img {
        max-width: 25vw;
    }
    .w-img {
        max-width: 20vw !important;
    }
    .w-img2 {
        max-width: 40vw !important;
        height: 12vw !important;
    }
    .w-img3 {
        max-width: 40vw !important;
        height: 14vw !important;
    }
    .w-img4 {
        max-width: 42vw !important;
        height: 16vw !important;
    }
    .h-img {
        height: 19vw !important;
    }
    .large-img {
        max-width: 20vw !important;
        aspect-ratio: 7/4 !important;
    }
    .large-img2 {
        max-width: 25vw !important;
        aspect-ratio: 7/4 !important;
    }
    .large-img3 {
        max-width: 20vw !important;
        max-height: 32vh !important;
        aspect-ratio: 7/4 !important;
    }
    .large-img4 {
        max-width: 15vw !important;
        aspect-ratio: 7/4 !important;
    }
    .large-img5 {
        max-width: 43vw !important;
        aspect-ratio: 7/2 !important;
    }
    .large-img6 {
        max-width: 38vw !important;
        aspect-ratio: 8/3 !important;
    }
    .large-img7 {
        max-width: 38vw !important;
        aspect-ratio: 9 / 5 !important;
    }
}

.top-title {
    font-size: 3vw !important;
    color: #f7b94a;
    position: fixed !important;
    top: 4vh !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 999999 !important;
}

a,
button {
    cursor: pointer !important;
}

#buttons {
    top: 30px;
    z-index: 1000;
}
.video-btn img,
.ans-btn img {
    cursor: pointer;
    width: 4.5vw !important;
}
/* #topDiv {
    height: 50vh !important;
    justify-content: space-between !important;
} */

.note {
    font-size: 20px;
    font-weight: 400;
    color: white;
    line-height: 100%;
    z-index: 99;
    font-size: 1.2vw;
}

.title {
    font-size: 2vw !important;
    z-index: 100;
    color: #f7b94a;
    line-height: 100%;
}

.indexTitle {
    color: #f7b94a;
}

#buttons {
    position: fixed;
    top: 3vw;
    right: 3vw;
    gap: 1vw;
}

#homeButton img,
#closeButton img,
#returnButton img,
#sound-btn img {
    width: 4vw;
}

.nextButton img,
.doneButton img {
    width: 11vw;
}

#topDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
}

#topDiv div {
    font-size: 3vw !important;
}
#topDiv h2 {
    line-height: 100% !important;
    font-size: 2vw !important;
}

#Lesson img {
    z-index: 100;
    width: 15vw;
}

h2,
.note,
ul,
ol {
    max-width: 50vw;
}

h2,
h2 span {
    font-size: 2vw;
    top: -5vw;
}

/* li {
    font-size: 2vw;
} */

video {
    width: 30vw;
}
.video1 {
    width: 25vw !important;
}

.video2 {
    width: 20vw !important;
}

.down-btn-container {
    position: fixed;
    bottom: 5vw; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.slide {
    gap: 1.2vw !important;

    ul,
    ol {
        font-size: 2vw;
        /* padding-left: 2vw; */
    }

    h2 {
        margin-bottom: 1vw;
    }

    li {
        /* margin-bottom: 1vw; */
        /* font-size: 1.8vw; */
    }

    p {
        line-height: 1.5vw;
    }
}

.t-title {
    font-size: 1.5vw;
    line-height: 1vw;
}

.t-slide {
    width: 50vw;
    padding-inline: 3vw;
    ul,
    p {
        line-height: 1.5vw;
        padding-left: 1vw;
        font-size: 1.2vw;
    }
}

span {
    img {
        width: 3vw;
    }
}
.chkbox {
    width: 3vw;
    height: 3vw;
    border: 1px solid black;
}
