@import "tailwindcss";

body {
    font-family: "Jua" !important;
}

.stroke {
    -webkit-text-stroke: 1px #533705;
}

.note {
    font-size: 20px;
    font-weight: 400;
    color: white;
      line-height: 100%;
}

.title {
    font-size: 45px;
    color: #f7b94a;
    line-height: 100%;
}
